
.advocacy-title h2{margin-bottom: 0; font-size: 48px; line-height: 56px;}
.advocacy-list h2{font-size: 32px; line-height: 40px;}
ul.advocacy-links{margin: 0;}
ul.advocacy-links > li{margin: 0 0 24px; background-color: var(--white);}
ul.advocacy-links > li::before{display: none;}
ul.advocacy-links > li > a{padding: 24px; font-size: 24px; line-height: 28px; letter-spacing: 0.05em; color: var(--slate-color); text-transform: uppercase; display: inline-block; font-family: 'League Gothic', sans-serif;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .advocacy-head{grid-area: 40px;}
    .advocacy-title{flex: 0 0 calc(100% - 305px);}
    .advocacy-btn{flex: 0 0 265px;}

    .advocacy-row{gap: 56px;}
    .advocacy-list{flex: 0 0 calc(33.333% - 38px); padding-left: 24px; border-left: 1px solid #D25F15;}
}