

.white-block{width: 80px; height: 80px; background-color: var(--white); position: absolute;}
.white-block.top-left{top: 0; left: 0;}
.white-block.top-right{top: 0; right: 0;}

.frm-green-block{width: 208px; height: 208px; top: -32px; left: -32px; background-color: var(--tech-color); position: absolute; z-index: -1;}
.privacy-block{width: 256px; height: 260px; bottom: -32px; left: -32px; opacity: 0.8; mix-blend-mode: multiply; background-color: var(--privacy-color); position: absolute; z-index: 1;}


















