:root {
    --black: #000000;
    --black-10: rgb(0 0 0 / 10%);
    --black-25: rgb(0 0 0 / 25%);
    --black-50: rgb(0 0 0 / 50%);
    --black-75: rgb(0 0 0 / 75%);
    --white: #ffffff;
    --white-50: rgb(255 255 255 / 50%);
    --white-75: rgb(255 255 255 / 75%);
    --error: #f00;
    --health-color: #337975;
    --tech-color: #C3E86C;
    --tech-contrast-color: #769627;
    --slate-color: #242D38;
    --cement-color: #727372;
    --link-color: #00A19C;
    --corporate-color: #002554;
    --education-color: #D25F15;
    --privacy-color: #00A19C;
    --sand-color: #E9E6DE;
    --gray-color: #727372;
    --line-color: #d5d5d5;
}