






.custom-cta-section{background-color: var(--white);}
.custom-cta-main{padding: 160px 0;}
.custom-cta-btns{gap: 16px;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .custom-cta-main{gap: 160px;}
    .custom-cta-text{flex: 0 0 528px;}
    .custom-cta-image{flex: 0 0 calc(100% - 688px);}
}












