
.footer-main{padding-top: 80px; background-color: var(--white); z-index: 1;}
.footer{padding: 0 64px 127px; color: var(--white);}
.footer-bg{top: 80px; height: calc(100% - 80px);}
.footer-stripe-left{width: 48px; height: 496px; top: calc(50% + 40px); transform: translateY(-50%); left: -24px; background-image: url('./images/stripe-left.svg'); background-repeat: no-repeat; background-size: contain; display: block; position: absolute;}
.footer-green-block { width: 96px; height: 96px; top: 33px; right: 48px; opacity: .9; background-color: var(--tech-color); position: absolute; z-index: 1; }
.footer-green-block::before{ width: 128px; height: 48px; right: 100%; top: 50%; transform: translateY(-50%); background-image: url('./images/footer-stripe-frame.svg'); background-position: left; content: ""; display: block; position: absolute; }
.footer-circle-glow { top: -116px; right: -197px; width: 586px; height: 582px; background-image: url('./images/footer-circle-glow.svg'); background-repeat: no-repeat; position: absolute; z-index: 1; }
.footer-white-block{width: 96px; height: 96px; top: 0; right: 0; position: absolute; z-index: 1; background-color: var(--white);}
.footer-privacy-block{width: 160px; height: 160px; bottom: 0; right: -80px; opacity: 0.8; background-color: var(--privacy-color); position: absolute;}
.footer-logo{padding: 32px 24px; max-width: 324px; background-color: var(--slate-color);}
.footer-logo a{width: 100%; height: auto; display: inline-block;}
.footer-logo img{max-width: 277px; width: 100%; object-fit: contain;}
.footer-text{max-width: 515px; padding-top: 48px; font-size: 40px; line-height: 48px; font-family: 'Overpass', sans-serif; }
.footer-text p{font-weight: 700; font-family: 'Overpass', sans-serif;}
.footer-btns{margin: 52px 0 55px; gap: 20px;}

ul.social-icons{margin: 0 0 51px; gap: 0 68px;}
ul.social-icons li::before{left: -38px; top: 50%; transform: translateY(-50%); width: 12px; height: 12px; font-size: 12px; line-height: 12px; content: "\f00d"; display: block; font-family: "Font Awesome 6 Pro"; background: none; color: var(--tech-color);}
ul.social-icons li:first-child::before{display: none;}
ul.social-icons li a{font-size: 32px; line-height: 32px; display: inline-block; color: var(--white); transform: scale(1);}
ul.social-icons li a:hover{color: var(--privacy-color); transform: scaleX(-0.95);}

.copyrights-main{font-size: 12px; line-height: 20px;}
.copyrights-text p{margin-bottom: 15px;}
ul.copyrights-links{margin: 0; gap: 10px 41px;}
ul.copyrights-links > li::before{width: 1px; height: 20px; top: 0; left: -20px; opacity: 0.25; background-color: var(--white); }
ul.copyrights-links > li:first-child::before{display: none;}
ul.copyrights-links > li{margin: 0;}
ul.copyrights-links > li > a{color: var(--white);}
ul.copyrights-links > li > a:hover{color: var(--privacy-color);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .footer { padding: 0 40px 127px; }
    ul.copyrights-links{gap: 20px; max-width: 630px;}
    ul.copyrights-links > li::before { left: -10px; }
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .financials-page .footer-main{padding-top: 22px;}
    .footer-main{padding-top: 40px;}
    .footer { padding: 0 40px 127px; }
    .footer-text { padding-top: 48px; font-size: 22px; line-height: 32px; }
    .footer-btns{flex-direction: column;}
    .footer-btns .button{width: 100%;}
    ul.social-icons { gap: 0 43px; margin: 0 0 34px; }
    ul.social-icons li::before{left: -26px;}
    .footer-privacy-block { width: 88px; height: 88px; right: -20px; bottom: 0; }
    .footer-logo img{max-width: 228px;}
    ul.copyrights-links > li:nth-child(3)::before{display: none;}
    ul.copyrights-links > li:nth-child(5)::before{display: none;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    ul.social-icons{gap: 0 30px;}
    ul.social-icons li::before { left: -19px; }
    ul.social-icons li a{font-size: 28px;}
    ul.copyrights-links > li::before{display: none;}
}