

.footer{padding: 0 64px 127px; color: var(--white);}
.footer-bg{top: 80px; height: calc(100% - 80px);}
.footer-logo{padding: 32px 24px; max-width: 324px; background-color: var(--slate-color);}
.footer-logo img{max-width: 277px;}
.footer-text{max-width: 515px; padding-top: 48px; font-size: 40px; line-height: 48px; font-family: 'Overpass', sans-serif; }
.footer-btns{margin-bottom: 55px; gap: 20px;}

ul.social-icons{margin: 0 0 51px; gap: 68px;}
ul.social-icons li::before{display: none;}
ul.social-icons li a{font-size: 32px; line-height: 32px; display: inline-block; color: var(--white);}
ul.social-icons li a:hover{background-image: linear-gradient(to right,#3207ff 0,#8200f0 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.copyrights-main{font-size: 12px; line-height: 20px;}
ul.copyrights-links{margin: 0; gap: 41px;}
ul.copyrights-links > li::before{width: 1px; height: 20px; top: 0; left: -20px; opacity: 0.25; background-color: var(--white); }
ul.copyrights-links > li:first-child::before{display: none;}
ul.copyrights-links > li{margin: 0;}
ul.copyrights-links > li > a{color: var(--white);}
ul.copyrights-links > li > a:hover{color: var(--privacy-color);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    
}