





.frm-message-main{padding: 80px; background-color: var(--white);}




.frm-author-main{gap: 88px;}
.frm-author-thumb{flex: 0 0 228px;}
.frm-author-text{flex: 0 0 calc(100% - 316px);}