

.main-header{top: 0; left: 0; width: 100%; height: auto; position: fixed; z-index: 800; background-color: var(--white);}
body.home .main-header{background-color: transparent;}
.main-header::before { content: ""; bottom: 0; left: 0; right: 0; top: 0; transition: all 0.45s ease-in-out; background-color: var(--white); box-shadow: 0 1px 1px rgb(115 114 114 / 15%); transform-origin: center top; transform: scaleY(0); position: absolute; z-index: -1; }
.main-header.fixed_header::before{transform: scaleY(1);}

.header{padding: 24px 0 24px;}
.toggle_menu{width: 56px; height: 56px; margin-right: 24px; font-size: 24px; line-height: 24px; color: var(--white); cursor: pointer; align-items: center; justify-content: center; background-color: var(--health-color); box-shadow: 4px 4px 0px var(--tech-color);}
.toggle_menu.active{box-shadow: 4px 4px 0px var(--white); z-index: 900;}
.toggle_menu.active span::before{content: "\f00d";}

.nav_languages{font-size: 1rem; line-height: 1.5; letter-spacing: 0.05em; margin-left: 16px; font-family: 'League Gothic', sans-serif;}
.nav_languages a{color: var(--cement-color);}
.nav_languages a.current{color: var(--health-color);}


.navigation{padding: 184px 160px 80px; width: 100%; height: 100%; min-height: 100vh; top: 0; left: 0; background-color: var(--tech-color); overflow-y: auto; -webkit-overflow-scrolling: touch; position: fixed; z-index: 850; visibility: hidden; opacity: 0; transition: all 0.4s ease-in-out; }
.navigation.open{ visibility: visible; opacity: 1;}
ul.main_menu{margin: 0;}
ul.main_menu > li{margin: 0 0 32px;}
ul.main_menu > li::before{display: none;}
ul.main_menu > li > a{color: var(--corporate-color); display: inline-block; font-size: 28px; line-height: 36px; letter-spacing: -0.05em; font-weight: 800; font-family: 'Overpass', sans-serif;}
ul.main_menu > li > a:hover{padding-left: 48px; color: var(--health-color);}
ul.main_menu > li > a::before{left: 0; top: calc(50% - 2px); transform: translateY(-50%); opacity: 0; transition: all .45s ease-in-out; color: var(--white); content: "\f178"; font-size: 32px; line-height: 32px; font-weight: 400; font-family: "Font Awesome 6 Sharp"; position: absolute;}
ul.main_menu > li > a:hover::before{opacity: 1;}
ul.main_menu > li.current-menu-item > a::after{width: 303px; height: 24px; left: -5px; bottom: 0; background-image: url('./images/menu-item-stripe.svg'); background-position: left bottom; background-repeat: no-repeat; background-size: contain; content: ""; position: absolute; z-index: -1;}
ul.main_menu > li.current-menu-item > a{padding-left: 0; color: var(--slate-color);}
ul.main_menu > li.current-menu-item > a::before{display: none;}

.sticky_header .header{position: relative; z-index: 900;}
.sticky_header .header::before{ content: ""; display: block; width: 200vw; height: 100%; top: 0; left: -100%;  z-index: 899; position: absolute; background-color: var(--tech-color); transition: all 0.45s ease-in-out;}
.sticky_header .logo{z-index: 900;}
.sticky_header .header-right{z-index: 900;}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .logo{flex: 0 0 200px;}
    .header-right{flex: 1; justify-content: flex-end;}
    .nav_btns{width: auto; gap: 15px;}
    .nav_languages{width: auto; gap: 20px;}
    .nav_languages span:first-child::before{display: none;}
    .nav_languages span::before{content: ""; top: -1px; left: -10px; width: 1px; height: 24px; opacity: 0.5; transform: rotate(25deg); background-color: var(--tech-color); display: block; position: absolute;}
    .sticky_header .nav_languages span::before{background-color: var(--white); opacity: 0.5;}
    .main-content{padding-top: 104px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .header { padding: 16px 0 16px; }
    .toggle_menu{width: 48px; height: 48px;}
    .logo{width: 157px;}
    .header-right{flex: 1;}
    .nav_languages{justify-content: flex-end;}
    .nav_languages a{width: 48px; height: 48px; font-size: 24px; line-height: 24px; color: var(--slate-color); border: 1px solid var(--health-color); display: flex; align-items: center; justify-content: center;}
    .nav_languages a.current{display: none;}
    .main-content{padding-top: 86px;}
    .navigation{padding: 100px 20px 80px;}
    ul.main_menu > li{margin-bottom: 24px;}
    ul.main_menu > li > a{font-size: 20px; line-height: 24px;}
    ul.main_menu > li.current-menu-item > a::after { width: 100%; height: 16px; left: -5px; bottom: 0; background-image: url('./images/menu-stripe-mobile.svg'); }
    ul.main_menu > li > a:hover{padding-left: 0;}
    ul.main_menu > li > a::before{display: none;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    .toggle_menu{margin-right: 11px;}
}