

.outreach-list{padding: 40px; font-size: 14px; line-height: 22px; background-color: var(--white); color: var(--slate-color); color: var(--cement-color);}



/*-- media starts here --*/
@media only screen and (min-width: 1024px){
    .outreach-main{padding: 128px 0 120px;}
    .outreach-head{gap: 48px; margin-bottom: 36px;}
    .outreach-title{flex: 0 0 calc(100% - 304px);}
    .outreach-btn{flex: 0 0 256px; text-align: right;}
    .outreach-row{gap: 48px;}
    .outreach-list{flex: 0 0 calc(25% - 36px);}
}





