
.statistics-list{padding: 40px; font-size: 14px; line-height: 22px; color: var(--cement-color); background-color: var(--white); }


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .statistics-wrap{padding: 127px 0 128px;}
    .statistics-title{padding-right: 256px;;}
    .statistics-btn{top: 3px; right: 0; position: absolute; z-index: 1;}
    .statistics-row{gap: 48px; padding-top: 24px;}
    .statistics-list{flex: 0 0 calc(25% - 40px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .statistics-row{gap: 30px;}
    .statistics-list { flex: 0 0 calc(25% - 31px); padding: 30px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .statistics-wrap { padding: 60px 0 61px; }
    .statistics-row{gap: 28px;}
    .statistics-list{flex: 0 0 calc(50% - 14px);}
    .statistics-btn{padding-top: 48px; text-align: center;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .statistics-wrap { padding: 40px 0 40px; }
    .statistics-title h2{font-size: 32px; line-height: 40px;}
    .statistics-row{display: block; padding-top: 24px;}
    .statistics-list{margin-bottom: 20px;}
    .statistics-list:last-child{margin-bottom: 0;}
    .statistics-btn{padding-top: 48px;}

}










