


body.home{background-attachment: fixed; background-image: url('../images/static-bg@2x.jpg'); background-size: cover;}
body.home .main-header{background-color: transparent;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    
}